.img-fundo{
	height: 75vw;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
}

.btn-voltar{
	position: absolute;
    top: 1%;
    left: -6%;
    font-size: 7vw;
    color: #8011CC;
}

.moeda{
	margin-left: 2%;
}

.custo{
	color: #8011CC;
}

.empresa-produto{
	padding: 5%;
    margin-top: 10%;
}

.produto{
	font-family: Poppins-Bold;
}

.desc{
	font-family: Poppins-Bold;
}

.nome{
	font-family: Poppins-Bold;
}

.end{
	font-family: Poppins-Medium;
}