#cM{
	--background: rgb(72, 0, 141);
}


.group{
	position: absolute;
}

.returnBtn{
	margin: 8% 10%;
}

.g1{
	top: 13%;
	left: 0;
}

.g2{
	top: 13%;
	right: 0;
}

ion-toolbar {
  	--background: transparent no-repeat fixed center;
  	position: absolute;
  	top: 0;
}

.background{
	position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    text-align: center;
}

ion-spinner{
	transform: scale(2,7);
    --color: #FFFFFF;
    margin-top: 90%;
    width: 100%;
}

.principal{
	margin: 5%;
	height: 95%;
	padding: 2%;
}

ion-item{
	--background: transparent !important;
	color: #D4C2FF;
	margin: 2% 0;
}

.logo-principal{
	margin: auto;
	margin-top: 18%;
    width: 75%;
}

.body{
	margin-top: 10%;
	margin-bottom: 5%;
}

.btn-enviar{
	width: 80%;
	margin: auto;
	height: 12vw;
}

.titulo{
	color: #D4C2FF;
	font-size: 4vw; 
	font-family: 'Hero-Bold';
}

a{
	text-decoration: underline;
	color: #FFA700;
	font-family: 'Hero-Regular';
}

.termos{
	font-size: 3.5vw;
	color: #FFFFFF;
	font-family: 'Hero-Regular';
}

.footer{
	font-size: 3.5vw;
	color: #D4C2FF;
	font-family: 'Hero-Regular';
}

ion-label{
	font-family: 'Hero-Regular';
}


@media (min-width: 800px) {
  	.logo-principal{
		width: 50%;
		margin: auto;
	}

	.header-web {
	    position: relative;
	    width: 80%;
	    margin: auto;
	    margin-top: 10%;
	}

	.form-web{
		position: relative;
	    width: 50%;
	    height: 75%;
	    padding: 4%;
	    margin: auto;
	    margin-top: 9%;
	    -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
	    box-shadow: 0px 3px 8px rgb(100 100 100);
	}

	.web-principal{
		height: 100%;
	}

	.web-left{
		height: 100%;
		width: 27%;
		float: left;
		background: rgb(72, 0, 141);
	}

	.web-bg{
		width: inherit;
    	height: 84%;
    	position: absolute;
    	background-position: center;
    	background-size: 100% 100%;
    	opacity: 0.4;
	}

	.web-right{
		float: right;
		width: 60%;
	}

	.lblForm {
	    font-family: 'Hero-Bold';
	    color: #48008D;
	}

	.img-dots{
		width: 100%;
	}

	.id2{
		float: right;
	}

	.titulo{
		color: #48008D;
	    font-size: 18px;
	    font-family: "Hero-Bold";
	    text-align: left;
	}

	.subtitulo{
		color: #48008D;
	    font-size: 15px;
	    font-family: "Hero-Bold";
	}

	.btns{
		height: 3vw;
	    margin: 11% 5%;
	    white-space: normal;
	    font-size: 0.8vw;
	    border-radius: 1.5em;
	    border: 2px solid #48008D;
	}

	.senhaReset{
		color: #C4C4C4;
	}

	.aSenha{
		color: #48008D;
	}

	.body{
		width: 100%;
		margin: auto;
	}

	.footer{
		font-size: 12px;
		color: #FFFFFF;
		font-family: 'Hero-Regular';
	}

	ion-input{
		color: #48008D;
    	font-size: 12px;
	}

	.fala{
		font-family: 'Hero-Regular';
	    font-size: 12px;
	    color: #C4C4C4;
	    margin-bottom: 20%;
	}

	.inner-form{
		padding: 5%;
	}

	a:hover{
		cursor: pointer;
	}

	.return{
		width: 11%;
	}

	.btn-enviar{
		width: 100%;
		margin: 5% auto;
		height: 3vw;
		margin-top: 11%;
		text-transform: none;
	}

	a{
		text-decoration: none;
		color: #48008D;
		font-family: 'Hero-Regular';
	}

	.terms{
		font-family: 'Hero-Regular';
		color: #C4C4C4;
	}
}