.tipo1{
	background: #000000;
	position: absolute;
    height: 100%;
    width: 100%;
}

.btn-voltar{
	color: #8011CC;
    font-size: 10vw;
}

.titulo{
	font-size: 10vw;
	margin: 1%;
	color: #8011CC;
	font-family: Poppins-Bold;

}

.valor{
	font-size: 10vw;
	font-family: Poppins-Bold;
	margin: 2% 0 5%;
}

.vantagens{
	font-family: Poppins-Medium;
}

.txts{
	font-size: 5vw;
	margin: 1%;
	color: #C4C4C4;
}

.desc{
	padding: 0 20%;
	color: #C4C4C4;
}

.comprar{
	width: 80%;
    margin: 10% auto 0;
}

.btn-comprar{
	height: 15vw;
}