<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button fill="clear" (click)="voltar()" class="btn-voltar">Voltar</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="header ion-text-center">
		<div [ngStyle]="{'background-image': detalhes.img}" class="modal-img"></div>
		<ion-label class="label-empresa">{{detalhes.empresa}}</ion-label>	
	</div>
	<div class="content">
		<ion-label class="detalhes-titulo">Detalhes</ion-label>
		<div class="cont">
			<ion-label><ion-icon name="cart" class="icon-det"></ion-icon><span class="span-det">Produto</span></ion-label>
			<ion-label class="detalhes-cont">{{detalhes.produto}}</ion-label>
		</div>
		<div class="cont">
			<ion-label><ion-icon name="calendar" class="icon-det"></ion-icon><span class="span-det">Data</span></ion-label>
			<ion-label class="detalhes-cont">{{detalhes.data_hora | date: 'dd/MM/yyyy HH:mm'}}</ion-label>
		</div>
		<div class="cont">
			<ion-label><ion-icon name="medal" class="icon-det"></ion-icon><span class="span-det">Pontos Gastos</span></ion-label>
			<ion-label class="detalhes-cont"><ion-icon src="assets/imgs/icons/moeda.svg" class="moeda"></ion-icon> {{detalhes.pontos}}</ion-label>
		</div>
		<div class="share">
			<ion-button fill="clear" class="btn-share btn-fav" (click)="favoritar()"><ion-icon [name]="icon_favoritado"></ion-icon></ion-button>
			<ion-button fill="clear" class="btn-share btn-shr"><ion-icon name="share-social-outline"></ion-icon></ion-button>
		</div>
		<div class="ajuda ion-text-center">
			<ion-button class="btn-ajuda btn-base-ajuda" shape="round">Precisa de Ajuda?</ion-button>
		</div>
	</div>
</ion-content>