<ion-content *ngIf="plat">
	<div class="content-centro">
		<div class="desk-header">
			<ion-label class="label-desk-header" slot="start">Olá, {{usuario.nome}}</ion-label>
			<ion-img [src]="asset" class="img-desk"></ion-img>
		</div>
		<ion-searchbar placeholder="Pesquisar ofertas" class="search-desk"></ion-searchbar>
		<div class="saude" *ngIf="segmento == 'saude'">
			<p class="p-title">Para saber a localidades próximas, entre em contato com os números abaixo:</p>
			<p class="p-desc">Número convencional</p>
			<p class="p-num">
				<ion-icon name="call-outline" class="iNum"></ion-icon>
				<span class="s-num">(21) 3706-9608</span>
			</p>
			<p class="p-desc">Número do celular</p>
			<p class="p-num">
				<ion-icon name="phone-portrait-outline" class="iCel"></ion-icon>
				<span class="c-num">(21) 99587-9884</span>
			</p>
			<p class="p-desc">Número convencional</p>
			<p class="p-num">
				<ion-icon name="logo-whatsapp" class="wNum"></ion-icon>
				<span class="w-num">(21) 9 9588-4587</span>
			</p>
		</div>

		<div class="pacotes" *ngIf="segmento == 'pacotes'">
			<div class="cards" *ngFor="let p of pacotes">
				<div class="pacote-card" [style.background-image]="'url(' + requestImg(p[0].dimg) + ')'" (click)="continuar(p[0].oferta_id)"></div>
				<div class="pacote-card" [style.background-image]="'url(' + requestImg(p[1].dimg) + ')'" (click)="continuar(p[1].oferta_id)" *ngIf="p[1]"></div>
				<div class="pacote-card" [style.background-image]="'url(' + requestImg(p[2].dimg) + ')'" (click)="continuar(p[2].oferta_id)" *ngIf="p[2]"></div>
			</div>
			<!-- <p class="p-title">Monte o seu pacote de viagem personalizado com até 60% desconto!</p>
			<p class="p-desc">Ligue para a nossa Central de Reservas</p>
			<p class="p-num">
				<ion-icon name="call-outline" class="iNum"></ion-icon>
				<span class="s-num">(21) 3706-9608</span>
			</p>
			<p>Ou</p>
			<p class="p-title">Preecha o formulário e entraremos em contato em até 24 horas.</p>
			<div class="form-pacotes">

			</div> -->
		</div>

		<div class="pacotes" *ngIf="segmento == 'experiencias'">
			<div class="cards" *ngFor="let p of exp">
				<div class="pacote-card" [style.background-image]="'url(' + requestImg(p[0].IMG) + ')'" (click)="continuarExp(p[0].ID)"></div>
				<div class="pacote-card" [style.background-image]="'url(' + requestImg(p[1].IMG) + ')'" (click)="continuarExp(p[1].ID)" *ngIf="p[1]"></div>
				<div class="pacote-card" [style.background-image]="'url(' + requestImg(p[2].IMG) + ')'" (click)="continuarExp(p[2].ID)" *ngIf="p[2]"></div>
			</div>
			<!-- <p class="p-title">Monte o seu pacote de viagem personalizado com até 60% desconto!</p>
			<p class="p-desc">Ligue para a nossa Central de Reservas</p>
			<p class="p-num">
				<ion-icon name="call-outline" class="iNum"></ion-icon>
				<span class="s-num">(21) 3706-9608</span>
			</p>
			<p>Ou</p>
			<p class="p-title">Preecha o formulário e entraremos em contato em até 24 horas.</p>
			<div class="form-pacotes">

			</div> -->
		</div>

		<div class="saude" *ngIf="segmento == 'hospedagem'">
			<p class="p-title">Para saber a localidades próximas, entre em contato com os números abaixo:</p>
			<p class="p-desc">Número convencional</p>
			<p class="p-num">
				<ion-icon name="call-outline" class="iNum"></ion-icon>
				<span class="s-num">(21) 3706-9608</span>
			</p>
			<p class="p-desc">Número do celular</p>
			<p class="p-num">
				<ion-icon name="phone-portrait-outline" class="iCel"></ion-icon>
				<span class="c-num">(21) 99587-9884</span>
			</p>
			<p class="p-desc">Número convencional</p>
			<p class="p-num">
				<ion-icon name="logo-whatsapp" class="wNum"></ion-icon>
				<span class="w-num">(21) 9 9588-4587</span>
			</p>
		</div>
		<div class="desk-footer">
			<ion-label class="label-desk-footer">VALORIZE A VIDA. USE MÁSCARA E MANTENHA DISTANCIAMENTO.</ion-label>
			<ion-img [src]="asset" class="img-desk-footer"></ion-img>
		</div>
	</div>
	<div class="content-right">
		<div class="header-right">
			<div>
				<ion-avatar slot="end" class="desk-avatar">
				    <ion-img src="assets/imgs/img-a.png"></ion-img>
				</ion-avatar>
			</div>
			<!-- <div class="ponto-desk-header ion-text-center">
				<ion-label class="status-titulo">Minha Pontuação</ion-label>
			</div>
			<div class="num-desk ion-text-center">
				<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos-desk"></ion-icon><span class="ponto-gasto-desk-header">12000</span>
			</div> -->
		</div>
		<div class="status">
			<div class="title-status ion-text-center">
				<ion-label class="status-titulo">Informações da Conta</ion-label>	
			</div>
			<div class="conta">
				<p class="conta-lbl">Email: <span class="conta-span">{{usuario.email}}</span></p>
				<p class="conta-lbl">Plano: <span class="conta-span">{{usuario.plano}}</span></p>
				<p class="conta-lbl">Data de Entrada: <span class="conta-span">{{usuario.data_entrada}}</span></p>
			</div>
		</div>
		<div class="historico">
			<div class="spinner" *ngIf="load">
				<ion-spinner class="spin" name="bubbles"></ion-spinner>
			</div>
			<div class="title-historico ion-text-center">
				<ion-label class="status-titulo">Histórico Recente</ion-label>
			</div>
			<div *ngFor="let prod of historico">
				<ion-card  class="card-ponto-desk">
					<ion-item lines="none">
						<div class="img-prod-desk" [ngStyle]="{'background-image': returnImg(prod.IMG)}" *ngIf="prod.TIPO == 1"></div>
						<div class="desc-prod-desk">
							<ion-label class="empresa-desk">{{prod.TITULO}}</ion-label>
							<ion-label class="lbl-produto-desk" *ngIf="prod.DESCRICAO">{{prod.DESCRICAO}}</ion-label>
						</div>
						<div slot="end" class="div-pontos-desk">
							<!-- <div class="pontos-desk">
								<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos-desk"></ion-icon><span class="ponto-gasto-desk">{{prod.VALOR}}</span>
							</div> -->
						</div>
					</ion-item>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>