<div class="background" *ngIf="load">
	<ion-spinner name="dots"></ion-spinner>
</div>
<ion-header class="ion-no-border" no-border *ngIf="!plat">
	<ion-toolbar lines="none">
		<div class="logo">
			<ion-img src="assets/imgs/logo/logo-verde.png"></ion-img>
		</div>
		<div class="intro ion-text-center">
			<ion-label>Bem vindo(a), {{usuario.nome}}</ion-label>
			<br>
			<!-- <ion-label class="lblMoeda"><ion-icon src="assets/imgs/icons/moeda1.svg" class="icon-moeda"></ion-icon><span class="pontos-quant">{{usuario.pontos}}</span></ion-label> -->
		</div>
		<div class="avatar">
			<ion-avatar slot="end">
				<ion-img src="assets/imgs/img-a.jpg"></ion-img>
			</ion-avatar>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content class="cM" *ngIf="!plat">
	
	<div class="menu">
		<!-- <div class="meus-pontos">
			<ion-button fill="clear" class="btn-menu-header btn-left btn-pontos" (click)="alterarContent(0)" [style.background-color]="btnPontos? 'rgb(72, 0, 141)' : 'transparent'" [ngStyle]="{'color': btnPontos? '#FFFFFF': '#48008D'}">Status</ion-button>
		</div> -->
		<div class="meus-pontos">
			<ion-button fill="clear" class="btn-menu-header btn-left btn-favoritos" (click)="alterarContent(2)" [style.background-color]="btnPacotes? 'rgb(72, 0, 141)' : 'transparent'" [ngStyle]="{'color': btnPacotes? '#FFFFFF': '#48008D'}">Pacotes</ion-button>
		</div><!-- 
		<div class="filtro">
			<ion-button fill="clear" class="btn-menu-header btn-right btn-filtro">Hoje <ion-icon name="arrow-down" mode="IOS" class="icon-arrow"></ion-icon></ion-button>
		</div> -->
	</div>

	<div class="historico" *ngIf="btnPontos">
		<div class="spinner" *ngIf="load">
			<ion-spinner class="spin" name="bubbles"></ion-spinner>
		</div>
		<div *ngFor="let prod of dataArr">
			<ion-card  class="card-pontos">
				<ion-item lines="none">
					<div class="img-prod" [ngStyle]="{'background-image': returnImg(prod.IMG)}" *ngIf="prod.TIPO == 1"></div>
					<div class="desc-prod">
						<ion-label class="empresa">{{prod.EMPRESA}}</ion-label>
						<ion-label class="lbl-produto">{{prod.PRODUTO}}</ion-label>
					</div>
					<div slot="end" class="div-pontos">
						<!-- <div class="pontos">
							<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos"></ion-icon><span class="ponto-gasto">{{prod.PONTO_GASTO}}</span>
						</div> -->
					</div>
				</ion-item>
			</ion-card>
		</div>
	</div>

	<div class="historico" *ngIf="btnPacotes">
		<div class="spinner" *ngIf="load">
			<ion-spinner class="spin" name="bubbles"></ion-spinner>
		</div>
		<div *ngFor="let prod of pacotes">
			<ion-card  class="card-pontos">
				<ion-item lines="none">
					<div class="img-prod" [ngStyle]="{'background-image': returnImg(prod.IMG)}" *ngIf="prod.TIPO == 1"></div>
					<div class="desc-pacote">
						<ion-label class="empresa">Ponto de Origem: {{prod.PONTO_ORIGEM}} - Ponto de Destino: {{prod.PONTO_DESTINO}}</ion-label>
						<ion-label class="empresa">Data Inicial: {{prod.DATA_INICIAL | date: 'dd/MM/yyyy'}} - Data Final: {{prod.DATA_FINAL | date: 'dd/MM/yyyy'}}</ion-label>
						<ion-label class="empresa">Opcionais: {{prod.OPCIONAIS}}</ion-label>
						<ion-label class="empresa">Data e Hora gerada: {{prod.DATA_HORA | date: 'dd/MM/yyyy HH:mm'}}</ion-label>
						<ion-label>Status: {{status(prod.STATUS)}}</ion-label>
					</div>
					<!--<div slot="end" class="div-pontos">
						<div class="pontos">
							<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos"></ion-icon><span class="ponto-gasto">{{prod.PONTO_GASTO}}</span>
						</div>
					</div> -->
				</ion-item>
			</ion-card>
		</div>
	</div>
</ion-content>

<ion-content *ngIf="plat">
	<div class="content-centro">
		<div class="desk-header">
			<ion-label class="label-desk-header" slot="start">Olá, Andrea</ion-label>
			<ion-img [src]="asset" class="img-desk"></ion-img>
		</div>

		<div class="title-historico ion-text-center">
			<ion-label class="status-titulo">Pacotes </ion-label>
		</div>
		<div *ngFor="let prod of pacotes">
			<ion-card  class="card-ponto-desk">
				<ion-item lines="none">
					<ion-grid>
						<ion-row>
							<ion-col>
								<p>Ponto de Origen: <span class="s-resp">{{prod.PONTO_ORIGEM}}</span></p>
							</ion-col>
							<ion-col>
								<p>Ponto de Destino: <span class="s-resp">{{prod.PONTO_DESTINO}}</span></p>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<p>Data de Partida: <span class="s-resp">{{prod.DATA_INICIAL | date: 'dd/MM/yyyy'}}</span></p>
							</ion-col>
							<ion-col>
								<p>Data de Chegada: <span class="s-resp">{{prod.DATA_FINAL | date: 'dd/MM/yyyy'}}</span></p>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Opcionais: <span class="s-resp">{{prod.OPCIONAIS}}</span></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Data e Hora gerada: <span class="s-resp">{{prod.DATA_HORA | date: 'dd/MM/yyyy HH:mm'}}</span></p></ion-col>
						</ion-row>
						<ion-row>
							<p>Status: <span>{{status(prod.STATUS)}}</span></p>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-card>
		</div>
		
		
		
		<div class="desk-footer">
			<ion-label class="label-desk-footer">VALORIZE A VIDA. USE MÁSCARA E MANTENHA DISTANCIAMENTO.</ion-label>
			<ion-img [src]="asset" class="img-desk-footer"></ion-img>
		</div>
	</div>
	<div class="content-right">
		<div class="header-right">
			<div>
				<ion-avatar slot="end" class="desk-avatar">
				    <ion-img src="assets/imgs/img-a.jpg"></ion-img>
				</ion-avatar>
			</div>
			<!-- <div class="ponto-desk-header ion-text-center">
				<ion-label class="status-titulo">Minha Pontuação</ion-label>
			</div>
			<div class="num-desk ion-text-center">
				<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos-desk"></ion-icon><span class="ponto-gasto-desk-header">12000</span>
			</div> -->
		</div>
		<div class="status">
			<div class="title-status ion-text-center">
				<ion-label class="status-titulo">Informações da Conta</ion-label>	
			</div>
			<div class="conta">
				<p class="conta-lbl">Email: <span class="conta-span">{{usuario.email}}</span></p>
				<p class="conta-lbl">Plano: <span class="conta-span">{{usuario.plano}}</span></p>
				<p class="conta-lbl">Data de Entrada: <span class="conta-span">{{usuario.data_entrada}}</span></p>
			</div>
		</div>
		<div class="historico">
			<div class="spinner" *ngIf="load">
				<ion-spinner class="spin" name="bubbles"></ion-spinner>
			</div>
			<div class="title-historico ion-text-center">
				<ion-label class="status-titulo">Histórico Recente</ion-label>
			</div>
			<div *ngFor="let prod of historico">
				<ion-card  class="card-ponto-desk">
					<ion-item lines="none">
						<div class="img-prod-desk" [ngStyle]="{'background-image': returnImg(prod.IMG)}" *ngIf="prod.TIPO == 1"></div>
						<div class="desc-prod-desk">
							<ion-label class="empresa-desk">{{prod.TITULO}}</ion-label>
							<ion-label class="lbl-produto-desk" *ngIf="prod.DESCRICAO">{{prod.DESCRICAO}}</ion-label>
						</div>
						<!-- <div slot="end" class="div-pontos-desk">
							<div class="pontos-desk">
								<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos-desk"></ion-icon><span class="ponto-gasto-desk">{{prod.VALOR}}</span>
							</div>
						</div> -->
					</ion-item>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>