.header{
	font-size: 4vw;
	padding: 2%;
	margin: 3%;
}

ion-avatar{
	border: 1px solid #FFFFFF;
}

.spinner{
	margin-top: 50%;
    text-align: center;
}

ion-spinner{
	transform: scale(4);
    --color: #8011CC;
    width: 100%;
}

ion-content{
	--background: no-repeat center center / cover !important;  
}

.div-pontos{
	margin: 0;
	width: 25%;
}

.pontos{
	width: 100%;
    height: 8vw;
    background-color: #FF9500;
    color: #FFFFFF;
    font-family: Poppins-Medium;
    font-size: 4vw;
    border-radius: 15px;
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
}

.status{
	width: 100%;
    height: 6vw;
    color: #FFFFFF;
    font-family: Poppins-Medium;
    font-size: 3vw;
    border-radius: 15px;
    text-align: center;
    padding-top: 5%;
}

.img-prod{
	border-radius: 15px;
	width: 20vw;
	height: 20vw;
	background-position: center;    
	background-size: cover;
	margin-right: 2%;
	margin-top: 4%;
}

.pontuacao{
	margin-top: 5%;
	font-family: Poppins-Bold;
	color: #FFFFFF;
	font-size: 5.5vw;
}

.pontos-header{
	margin-top: 10%;
    font-size: 9vw;
    color: #FFFFFF;
    font-family: Poppins-Medium;
}

.header-menu{
	margin-top: 10%;
}

.pontos-quant{
	margin-left: 3%;
}

.btn-menu-header{
	font-size: 2.7vw;
    color: #FFFFFF;
	font-family: Poppins-Medium;
	border-radius: 15px;
    height: 7vw;
}

.btn-left{
	float: left;
}

.btn-right{
	float: right;
}

.content{
	margin-top: 20%;
}

.card-pontos{
	height: 25vw;
}

.icon-moeda-pontos{
	margin-top: 2%;
}

.operador-icon{
	margin-right: 15%;
}

.empresa{
	color: #8011CC;
	font-size: 3.5vw;
	font-family: Poppins-Medium;
}

.lbl-produto{
	margin-top: 1%;
	color: #C4C4C4;
	font-size: 3.5vw;
	font-family: Poppins-Medium;
}