ion-content{
	--background: #48008D;
}

ion-item{
	--background: transparent;
	color: #FFFFFF;
}

.content{
	padding: 3%;
}

.hotel{
	width: 100%;
    margin: 5% auto;
    text-align: center;
}

.btnHotel{
	width: 80%;
    white-space: normal;
    height: 4em;
}

.p-oferta{
	color: #FFFFFF;
}