.btn-voltar{
	color: #8011CC;
}

.card-title{
	height: 35vw;
	background-position: center;    
	background-size: cover;  
}

.detalhes-sobre{
	margin-top: 13%;
    margin-left: 5%;
    white-space: normal;
    font-family: Poppins-Medium;
}

.detalhes-detalhes{
	margin-top: 5%;
    margin-left: 5%;
    white-space: normal;
    font-family: Poppins-Medium;
}

.img-empresa{
	width: 20vw;
    height: 20vw;
    float: left;
    margin: 0% 4% 0 7%;
    border-radius: 15px;
	background-position: center;    
	background-size: cover;  
}

.label-empresa{
	color: #8011CC;
	font-size: 3vw;
	font-family: Poppins-Bold;
}

.label-pontos{
	float: right;
}

.label-sobre{
	color: #8011CC;
	font-size: 4vw;
}

.span-resgate{
	color: #8011CC;	
}

.moeda-detalhes{
	width: 20%;
    margin-left: 30%;
    background-color: #FF9500;
    border-radius: 15px;
    color: #FFFFFF;
    margin-top: 2%;
}

.span-moeda{
	font-size: 5vw;
    float: right;
    margin-right: 10%;
}