<ion-content *ngIf="!plat">
  <ion-header class="ion-no-border" no-border>
		<ion-toolbar lines="none">
			<div class="logo">
			    <ion-img src="assets/imgs/logo/logo-verde.png"></ion-img>
			</div>
			<div class="intro ion-text-center">
			    <ion-label>Bem vindo(a), {{usuario.nome}}</ion-label>
			    <br>
			    <!-- <ion-label class="lblMoeda"><ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda"></ion-icon><span class="pontos-quant">{{usuario.pontos}}</span></ion-label> -->
			</div>
		</ion-toolbar>
	</ion-header>
  <div class="body">
    <div class="card-body-row">
      <ion-grid>
        <ion-row>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="card-verso">
              <div class="topo">
                <ion-img src="assets/imgs/logo/logo-verde.png" class="img-topo"></ion-img>
              </div>
              <div class="barra"></div>
              <div class="baixo">
                <ion-grid>
                  <ion-row>
                    <ion-col size="4">
                      <ion-item class="item-card" lines="none">
                        <ion-label position="stacked" class="lbl-card">Nome do Usuário</ion-label>
                        <ion-input class="inp-card" type="text" [(ngModel)]="usuario.nome" readonly></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="4">
                      <ion-item class="item-card" lines="none">
                        <ion-label position="stacked" class="lbl-card">Nascimento</ion-label>
                        <ion-input class="inp-card" type="text" [(ngModel)]="usuario.nasc" readonly></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="4">
                      <ion-item class="item-card" lines="none">
                        <ion-label position="stacked" class="lbl-card">CPF</ion-label>
                        <ion-input class="inp-card" type="text" [(ngModel)]="usuario.cpf" readonly></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      <ion-item class="item-card" lines="none">
                        <ion-label position="stacked" class="lbl-card">Tipo de plano</ion-label>
                        <ion-input class="inp-card" type="text" [(ngModel)]="usuario.plano" readonly></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="4">
                      <ion-item class="item-card" lines="none">
                        <ion-label position="stacked" class="lbl-card">Vencimento</ion-label>
                        <ion-input class="inp-card" type="text" [(ngModel)]="vencimento" readonly></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="4">
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="plat">
	<div class="content-centro">
		<div class="desk-header">
			<ion-label class="label-desk-header" slot="start">Olá, {{usuario.nome}}</ion-label>
			<ion-img [src]="asset" class="img-desk"></ion-img>
		</div>
		
    <div class="desk-body">
      <div class="card-body-row">
        <ion-grid>
          <ion-row>
            
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="card-verso">
                <div class="topo">
                  <ion-img src="assets/imgs/logo/logo-verde.png" class="img-topo"></ion-img>
                </div>
                <div class="barra"></div>
                <div class="baixo">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        <ion-item class="item-card" lines="none">
                          <ion-label position="stacked" class="lbl-card">Nome do Usuário</ion-label>
                          <ion-input class="inp-card" type="text" [(ngModel)]="usuario.nome" readonly></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4">
                        <ion-item class="item-card" lines="none">
                          <ion-label position="stacked" class="lbl-card">Nascimento</ion-label>
                          <ion-input class="inp-card" type="text" [(ngModel)]="usuario.nasc" readonly></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4">
                        <ion-item class="item-card" lines="none">
                          <ion-label position="stacked" class="lbl-card">CPF</ion-label>
                          <ion-input class="inp-card" type="text" [(ngModel)]="usuario.cpf" readonly></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4">
                        <ion-item class="item-card" lines="none">
                          <ion-label position="stacked" class="lbl-card">Tipo de plano</ion-label>
                          <ion-input class="inp-card" type="text" [(ngModel)]="usuario.plano" readonly></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4">
                        <ion-item class="item-card" lines="none">
                          <ion-label position="stacked" class="lbl-card">Vencimento</ion-label>
                          <ion-input class="inp-card" type="text" [(ngModel)]="vencimento" readonly></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4">
                        
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
		
		<div class="desk-footer">
			<ion-label class="label-desk-footer">VALORIZE A VIDA. USE MÁSCARA E MANTENHA DISTANCIAMENTO.</ion-label>
			<ion-img [src]="asset" class="img-desk-footer"></ion-img>
		</div>
	</div>
	<div class="content-right">
		<div class="header-right">
			<div>
				<ion-avatar slot="end" class="desk-avatar">
				    <ion-img [src]="usuario.avatar"></ion-img>
				</ion-avatar>
			</div>
			<!-- <div class="ponto-desk-header ion-text-center">
				<ion-label class="status-titulo">Minha Pontuação</ion-label>
			</div>
			<div class="num-desk ion-text-center">
				<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos-desk"></ion-icon><span class="ponto-gasto-desk-header">12000</span>
			</div> -->
		</div>
		<div class="status">
			<div class="title-status ion-text-center">
				<ion-label class="status-titulo">Informações da Conta</ion-label>	
			</div>
			<div class="conta">
				<p class="conta-lbl">Email: <span class="conta-span">{{usuario.email}}</span></p>
				<p class="conta-lbl">Plano: <span class="conta-span">{{usuario.plano}}</span></p>
				<p class="conta-lbl">Data de Entrada: <span class="conta-span">{{usuario.data_entrada}}</span></p>
			</div>
		</div>
		<div class="historico">
			<div class="spinner" *ngIf="load">
				<ion-spinner class="spin" name="bubbles"></ion-spinner>
			</div>
			<div class="title-historico ion-text-center">
				<ion-label class="status-titulo">Histórico Recente</ion-label>
			</div>
			<div *ngFor="let prod of historico">
				<ion-card  class="card-ponto-desk">
					<ion-item lines="none">
						<div class="img-prod-desk" [ngStyle]="{'background-image': returnImg(prod.IMG)}" *ngIf="prod.TIPO == 1"></div>
						<div class="desc-prod-desk">
							<ion-label class="empresa-desk">{{prod.TITULO}}</ion-label>
							<ion-label class="lbl-produto-desk" *ngIf="prod.DESCRICAO">{{prod.DESCRICAO}}</ion-label>
						</div>
						<div slot="end" class="div-pontos-desk">
							<!-- <div class="pontos-desk">
								<ion-icon src="assets/imgs/icons/moeda.svg" class="icon-moeda-pontos-desk"></ion-icon><span class="ponto-gasto-desk">{{prod.VALOR}}</span>
							</div> -->
						</div>
					</ion-item>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>