.loja-logo{
	width: 99%;
	margin: 1%;
}

.header{
	padding: 2%;
}

.comentUser{
	float: left;
}

.comentNota{
	float: right;
}

.comentario{
	font-family: verdana;
}

.cardUser{
	padding: 2%;
}

.slidesDiv{
	margin-bottom: 10%;
	height: 40vw;
}

#slideTag{
	width: 100%;
	height: inherit;	
}

.btnReserva{
	width: 80%;
	height: 60px;
}

.lojaComentarios{
	height: 80vw;
	margin-top: 5%;
	padding: 2%;
	border: 1px solid;
	border-radius: 10px;
	overflow: auto;
}

.mapaDiv{
	width: 100%;
}