<ion-content [ngStyle]="{'background-image': bg}">
	<div class="principal">
		<div class="header">
			<div class="avatar">
	    		<ion-avatar>
		    		<ion-img src="assets/imgs/img-a.jpg"></ion-img>
		    	</ion-avatar>
	    	</div>
	    	<div class="pontos">
	    		<div class="bar-pontos">
	    			<ion-icon src="assets/imgs/icons/moeda.svg" class="moeda-img"></ion-icon><span class="quantPontos">{{pontos}}</span>
	    		</div>
	    	</div>
		</div>
		<div *ngIf="tabBusca">
			<ion-searchbar placeholder="Pesquisar ofertas" class="search-ofertas"></ion-searchbar>
			<div class="bar-segmentos">
				<ion-card *ngFor="let prod of busca">
					<ion-card-title>
						<ion-label class="nome-prod">{{prod.nome}}</ion-label>
						<ion-label class="quantPontosSegmento" *ngIf="prod.custo" ><ion-icon src="assets/imgs/icons/moeda.svg" class="segmento-img-moeda"></ion-icon>{{prod.custo}}</ion-label>
					</ion-card-title>
					<ion-card-content class="content-prod-segmento">
						<ion-item lines="none">
							<div class="img-prod" [ngStyle]="{'background-image': prod.img}"></div>
							<div class="desc-prod">
								<ion-label>{{prod.produto}}</ion-label>
								<ion-label class="lbl-desc">{{prod.desc}}</ion-label>
							</div>
							<div class="buttons-prods" slot="end">
								<ion-button fill="clear" class="btn-ofertas-star btn-off"><ion-icon name="star-outline" mode="ios" class="estrela"></ion-icon></ion-button>
								<ion-button fill="clear" class="btn-ofertas-plus btn-off"><ion-icon name="add-circle"></ion-icon></ion-button>
							</div>
						</ion-item>
					</ion-card-content>
				</ion-card>
			</div>
		</div>

		<div class="mapa" [hidden]="!tabMapa">
			<ion-searchbar placeholder="Pesquisar pontos" class="search-ofertas"></ion-searchbar>
			<div #map id="map"></div>
		</div>	
	</div>
	<div class="footer">
		<ion-tabs>
			<ion-tab-bar slot="bottom">
				<ion-tab-button class="tab-menu" [selected]="tabBusca" (click)="selecionaTab(0)">
					<ion-icon name="search"></ion-icon>
					<ion-label>Buscar</ion-label>
				</ion-tab-button>
				<ion-tab-button class="tab-menu" [selected]="tabMapa" (click)="selecionaTab(1)">
					<ion-icon name="locate-outline"></ion-icon>
					<ion-label>Mapa</ion-label>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</div>
</ion-content>
