.btn-voltar{
	color: #8011CC;
}

ion-input{
	border: 1px solid;
    border-radius: 1.5em;
    margin: 5% 3% 1%;
    width: 94%;
}

.header{
    padding: 2%;
    font-size: 5vw;
    color: #8011CC;
}
.err{
	font-size: 3vw;
	color: red;
}