ion-content{
	--background: rgb(72, 0, 141);
}

ion-toolbar {
  	padding-top: 15% !important;
  	--background: transparent no-repeat fixed center;
  	position: absolute;
  	top: 0;
}

.principal{
	padding: 2%;
	margin: 3%;
}

.pontosIniciais{
	color: #FFFFFF;
	font-family: 'Hero-Regular';
	margin-right: 5%;
	font-size: 14px;
}

.background{
	position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    text-align: center;
}

ion-spinner{
	transform: scale(2,7);
    --color: #FFFFFF;
    margin-top: 90%;
    width: 100%;
}

label{
	font-family: 'Hero-Regular';
}

.btn-segmentos{
	margin: 5% auto;
	width: 90%;
	height: 50vw;
}

.logo{
	width: 70%;
    margin-left: 10%;
}

ion-buttons{
	min-width: 30%;
    margin-left: 3%;
}

.title-card{
	padding-top: 1%;
}

.pontos{
	width: 100%;
	margin-right: 1%;
    border-radius: 1.5em;
    min-width: 25%;
    height: 8vw;
    text-align: center;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 5.5vw;
    color: white;
    margin-top: 4%;
}

.logo-icon{
	color: gold;
}

.icons-btns{
	width: 32%;
    height: 35vw;

}

ion-avatar{
	width: 15vw;
	height: 15vw;
	border: 2px solid #FFFFFF;
	margin-right: 9%;
	margin-top: 2%;
}

.search-ofertas{
	width: 90%;
	margin: 38% auto 0;
	--background: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	text-align: center;
	font-family: 'Hero-Regular';
}

.cupons-recentes{
	color: #FFFFFF;
	font-size: 4vw;
    font-family: 'Hero-Regular';
    margin: 5% 2% 0% 7%;
}

.bar{
	height: 40vw;
	align-items: stretch;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	overflow-x: auto;
  	overflow-y: hidden;
  	margin: 0 2%;
}

.bar-oferta{
	height: 50vw;
	align-items: stretch;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	overflow-x: auto;
  	overflow-y: hidden;
  	margin: 0 2%;	
}

.cupom{
	background-position: center;    
	background-size: cover;     
	min-width: 50%;
  	padding: .75rem;
  	margin-bottom: 2rem;
  	border: 0;
  	flex-basis: 33.333%;
  	flex-grow: 0;
  	flex-shrink: 0;
  	border-radius: 10px;
	
}

.ofertas{
	height: 95%;     
	text-align: center;     
	min-width: 40%;
  	margin-bottom: 2rem;
  	border-radius: 10px;
  	flex-basis: 33.333%;
  	flex-grow: 0;
  	flex-shrink: 0;
}

.card-oferta-title{
	background-position: center;    
	background-size: cover;
	height: 50%;     
}

ion-slides{
	height: 100%;
}

.ver-mais{
	float: right;
	text-decoration: none;
	color: rgb(255, 255, 255, 0.6);
	margin-right: 5%;
	font-size: 12px;
}

.oferta-nome{
	color: #7410cb;
}

.quantPontos{
	color: orange;
	margin-right: 5%;
}

.desc-prod{
	height: 100%;
    width: 100%;
}

.quantPontosSegmento{
	color: orange;
    font-size: 13px;
    margin-right: 10%;
    margin-top: 2%;
    float: right;
    font-family: 'Hero-Bold';
}

.lblCusto{
	position: absolute;
	margin-left: 1%;
}

.nome-prod{
	font-size: 12px;
	margin-left: 3%;
    color: #48008D;
    font-family: 'Hero-Bold';
}

.btn-ofertas-star{
	font-size: 4vw;
	color: #ff9500;
	float: left;
	margin: 0;
}

.prod-produto{
	font-size: 13px;
	font-family: 'Hero-Bold';	
}

.btn-ofertas-plus{
	font-size: 4vw;
	color: #03cf70;
	float: right;
	margin: 0;
}

.img-prod{
	border-radius: 15px;
	width: 20vw;
	height: 15vw;
	background-position: center;    
	background-size: cover;
	margin-right: 2%;
	margin-left: 3%;
}

.lbl-desc{
	white-space: normal;
	font-size: 12px;
	font-family: 'Hero-Regular'
}

.offer-img-moeda{
	width: 20%;
}

.buttons-ofertas{
	padding: 0 10%;
}

.buttons-prods{
	margin: 0;
}

.content-card-offer{
	padding: 0;
	height: 50%;
}

.label-segmento{
	font-size: 15px;
    color: #FFFFFF;
    font-family: 'Hero-Bold';
}

.img-ver-mais{
	width: 100%;
	margin: auto;
}

.segs{
	margin: 5% 0;
}

.btn-ver-mais{
	width: 24%;
	height: 10vw;
	margin: 0;
}