.header{
	font-size: 7vw;
    padding: 5%;
    color: #8011CC;
}

p{
	padding: 2%;
    font-size: 4vw;
    color: #8011CC;
}

ion-card{
	margin-top: 0;
	color: #8011CC;
}

.lblType{
	margin-left: 4%;
	color: #8011CC;
}

.btn-voltar{
	color: #8011CC;
}
