<ion-content [ngStyle]="{'background-image': bg}">
	<ion-header class="ion-no-border toolbarVerde" no-border>
	  	<ion-toolbar lines="none">
		  	<!-- <ion-buttons slot="start">
		      	<ion-button  fill="clear" class="pontos">
		      		<ion-icon src="assets/imgs/icons/moeda.svg" class="moeda-img desk-moeda"></ion-icon><span class="pontosIniciais">{{pontos}}</span>
		      	</ion-button>
		    </ion-buttons> -->
		  	<div class="logo">
		    	<ion-img src="assets/imgs/logo/logo-verde.png"></ion-img>
		    </div>
		  	<ion-avatar slot="end">
			    <ion-img src="assets/imgs/img-a.jpg"></ion-img>
			</ion-avatar>
	  	</ion-toolbar>
	</ion-header>
	<div class="principal">
		<div class="header">
			<ion-searchbar placeholder="Pesquisar favoritos" class="search-cupons"></ion-searchbar>
			<div class="header-menu">
				<div class="meus-pontos">
					<ion-button fill="clear" class="btn-menu-header btn-left btn-todos" (click)="alterarContent(0)" [ngStyle]="{'background-color': btnTodos? 'rgba(255, 255, 255, 0.3)' : 'transparent'}"><span class="btn-span">Todos</span></ion-button>
				</div>
				<div class="meus-favoritos">
					<ion-button fill="clear" class="btn-menu-header btn-left btn-ativos" (click)="alterarContent(1)" [ngStyle]="{'background-color': btnAtivos? 'rgba(255, 255, 255, 0.3)' : 'transparent'}"><span class="btn-span">Ativos</span></ion-button>
				</div>
				<div class="filtro">
					<ion-button fill="clear" class="btn-menu-header btn-left btn-resgatados" (click)="alterarContent(2)" [ngStyle]="{'background-color': btnResgatados? 'rgba(255, 255, 255, 0.3)' : 'transparent'}"><span class="btn-span">Resgatados</span></ion-button>
				</div>
			</div>
		</div>
		<div class="spinner" *ngIf="load">
			<ion-spinner class="spin" name="bubbles"></ion-spinner>
		</div>
		<div class="content" *ngIf="!load">
			<div class="cupons-page">
				<ion-card class="card-cupom" *ngFor="let cupom of favoritos" (click)="abrirDetalhes(findImg(cupom.background, 1), findImg(cupom.img, 2), cupom.empresa, cupom.resgate, pontos, progresso(pontos, cupom.resgate), cupom.sobre, cupom.detalhes)">
					<ion-card-title class="title-card" [ngStyle]="{'background-image': findImg(cupom.background, 1)}"></ion-card-title>
					<ion-card-content class="content-card">
						<div class="img-prod" [ngStyle]="{'background-image': findImg(cupom.img, 2)}"></div>
						<div class="desc-prod">
							<ion-label class="label-empresa">{{cupom.empresa}}</ion-label>
							<div class="resgatar">
								<ion-label slot="start" class="label-resgate">
									<ion-icon src="assets/imgs/icons/moeda.svg" class="moeda-cupom"></ion-icon> <span class="resgate-span">Resgatar por {{cupom.resgate}}</span>
								</ion-label>
								<ion-label class="contagem" *ngIf="pontos < cupom.resgate">{{pontos}} / <span class="resgate-obj">{{cupom.resgate}}</span></ion-label>
								<!--<ion-button class="btn-base btn-resgate" shape="round" *ngIf="pontos >= cupom.resgate">Resgatar</ion-button> -->
							</div>
							<div class="progresso">
								<ion-progress-bar value="{{progresso(pontos, cupom.resgate)}}" class="cupom-progress"></ion-progress-bar>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>
