.img{
	margin: 21%;
}

.img-cond{
	margin: 0 15%;
}

.titulo{
	text-align: center;
    font-size: 18px;
    color: #48008D;
    font-family: 'hero-bold';
}

.texto{
	font-size: 23px;
    padding: 9% 18%;
    font-family: "Hero-Regular";
    text-align: center;
}